<div class="contents row">
  <% @diaries.each do |diary| %>
    <div class="content_post" style="background-image: url(<%= diary.diary %>);">
      <p><%= tweet.diary %></p>
      <span class="day_num">
        <%= diary.day_num %>
      </span>
    </div>
  <% end %>
</div>